{% extends 'core/base.html' %} {% block content %}
<h1 class="mb-8 text-4xl font-bold text-gray-800">Add todolist</h1>

<form class="mt-6 space-y-6" method="post" action=".">
  {% csrf_token %}

  <div>
    <label>Name</label><br />
    <input
      name="name"
      type="text"
      class="w-full py-3 px-4 bg-gray-300 text-gray-900 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500"
    />
  </div>

  <div>
    <label>Description</label><br />
    <textarea
      name="description"
      class="w-full h-32 py-3 px-4 bg-gray-300 text-gray-900 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500 resize-none"
    ></textarea>
  </div>

  <div>
    <button
      class="py-3 px-6 bg-sky-600 text-white rounded-lg shadow-md hover:bg-sky-700 transition"
    >
      Submit
    </button>
  </div>
</form>
{% endblock %}
